@import url('https://fonts.googleapis.com/css?family=Overpass&display=swap');

body {
  font-family: 'Overpass', sans-serif;
  font-weight: normal;
  font-style: normal;
}

.pricing header,
.pricing h1,
.pricing h3 {
  text-align: center;
}

.pricing h1 {
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: -1.5px;
}

.pricing h3 {
  font-size: 17px;
  line-height: 31px;
  color: #666666;
}

.pricing-options {
  text-align: center;
}

.pricing-options div {
  display: inline-block;
  width: 360px;
  height: 667px;
  margin: 15px;
  background: #ebebf0;
  border: 1px solid #c9ccd4;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.pricing-options h4 {
  font-size: 17px;
  line-height: 31px;
  color: #666666;
}

.pricing-options ul {
  text-align: left;
  margin: 40px 0 0 15%;
}

.pricing-options>ul>li {
  width: 70%;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
}

button {
  margin-top: 100px;
  background: #929ecc;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  height: 54px;
  width: 288px;
  cursor: pointer;
}
