*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height:1600px;
}
h4{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: inline;
    left: 135px;
    top: 16px;
    padding-left:100px;
}

li {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    float: right;
    margin-right:60px;
    
}  
ul {
    list-style: none;
    margin-right:40px;
    display: inline;
    line-height: 23px;
    float: right;
}

.Menu {
    background: #929ECC;
    padding:15px;
    width: 100%;
    position:sticky;
    top:0px;
    
}
article{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
    
    
}
p{
    
    color: #666666;
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
    padding-top:30px;
    font-size:17px;
    padding-bottom:30px;
}
.items{
    color: #4A90E2;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding-top: 30px;
    font-weight: lighter;
    line-height: 30px;
}
h3{
    font-weight: bold;
    font-size:30px;
    font-style: normal;
    font-family:'Roboto', sans-serif;
    line-height: 30px;
    padding-bottom: 15px;;
}
.authors{
    color: #666666;
    font-size: 15px;
    padding-bottom:20px;
    font-family: 'Roboto', sans-serif;   
}
span{
    font-weight: bold;
    color:black;
}
svg {
    margin-right:10px;
    margin-left: 10px;
    height: 10px;
}
img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.myBtn{
    border: 1px solid #E5E5E5;
    width: 160px;
    height: 50px;
    color: #666666;
    font-family:'Roboto', sans-serif; 
    font-size:17px;
    font-weight: bold;

}

    
