* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  height: 1640px;
  background: #ffffff;
  font-family: "Roboto";
}

header {
  top: 0;
  position: sticky;
  background-color: #929ecc;
  color: #ffffff;
  width: 100%;
  padding: 16px 135px;
  height: 56px;
}

header h1 {
  font-size: 20px;
  float: left;
}

header nav {
  float: right;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  width: auto;
  display: inline-block;
  margin-left: 60px;
}

header nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}

.post {
  width: 770px;
  height: 742px;
  margin: 0 auto;
  margin-top: 35px;
}

.post-topic,
.post-title {
  margin-bottom: 11px;
}

.post-topic {
  width: 135px;
  height: 16px;
  font-size: 14px;
  line-height: 16px;
  color: #4a90e2;
}

.post-title {
  width: 662px;
  height: 35px;
  font-style: bold;
  font-size: 30px;
  line-height: 35px;
  color: #171717;
}

.post-metadata li {
  display: inline;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
  font-weight: normal;
  margin-right: 10px;
}

.post-metadata-author span {
  font-weight: 400;
}

.post-metada-date span {
  padding-left: 0px;
}

.post-metadata-numcomments span {
  padding-left: 10px;
}

.metadata-style::before {
  content: "\25C6";
  margin-right: 10px;
}

.post-image {
  margin-top: 28px;
  margin-bottom: 33px;
}

.post-main-content {
  width: 700px;
  height: 72px;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: #666666;
  margin-bottom: 25px;
}

.post-extension {
  font-size: 16px;
  color: #666666;
  border: 1px solid #e5e5e5;
  padding: 18px 40px 17px 42px;
  text-decoration: none;
}
