* {
  box-sizing: border-box;
  font-family: "Roboto";
  margin: 0px;
}

body {
  font-style: normal;
}

header.fixed-header {
  height: 56px;
  background: #929ecc;
  position: fixed;
  width: 100%;
  top: 0px;
}

header.fixed-header h1 {
  float: left;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  margin-top: 16px;
  margin-left: 135px;
  color: white;
}

header.fixed-header nav {
  float: right;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-top: 20px;
  margin-right: 134px;
}

header.fixed-header a {
  text-decoration: none;
  color: white;
  margin-left: 60px;
}

main {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 30px;
  padding-top: 56px;
}

article.blog-article {
  margin-top: 35px;
}

article.blog-article h2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  color: #4a90e2;
}

article.blog-article h3 {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  margin-top: 11px;
  margin-bottom: 11px;

  color: #171717;
}

article.blog-article p {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: inline;

  color: #666666;
}

article.blog-article img.diamond {
  vertical-align: middle;
  margin-left: 9px;
  margin-right: 9px;
}

article.blog-article img.article-image {
  display: block;
  width: 90%;
  text-align: center;
  margin-top: 28px;
  margin-left: auto;
  margin-right: auto;
}

article.blog-article p.resume-article {
  display: block;
  margin-top: 33px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

article.blog-article a {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;
  color: #666666;
  padding: 18px 40px 17px 42px;
  margin-top: 25px;
  border: 1px solid #e5e5e5;
}
