* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: Overpass;
  font-style: normal;
}
.pricing-planes {
  width: 751px;
  height: 811px;
  text-align: center;
  margin: 0 auto;
}
.pricing-planes h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: -1.5px;
  color: #000000;
}
.pricing-planes p {
  font-weight: normal;
  font-size: 17px;
  line-height: 31px;
  color: #666666;
  margin-bottom: 36px;
}
.pricing-planes h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -1px;
  color: #000000;
  margin-bottom: 36px;
}
.pricing-planes ul {
  width: 200px;
  height: 226px;
  margin: 0px 50px 110px 50px;
}
.pricing-planes li {
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
  text-align: left;
}
.pricing-planes button {
  font-weight: bold;
  font-size: 15px;
  line-height: 32px;
  align-items: center;
  color: #ffffff;
  background: #929ecc;
  border: 1px solid #000000;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  width: 288px;
  height: 60px;
}
.plan {
  background: #ebebf0;
  border: 1px solid #c9ccd4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  width: 360px;
  height: 667;
  padding: 36px;
}
#plan1 {
  position: absolute;
  margin-right: 5px;
}
#plan2 {
  position: relative;
  float: right;
}
