* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    height: 1640px;
    background: #FFFFFF;
    font-family: 'Roboto';
}

header {
    top: 0;
    position: sticky;
    background-color: #929ECC;
    color: #FFFFFF;
    width: 100%;
    padding: 16px 135px;
    height: 56px;
}

header div:nth-child(1) {
    float: left;
}

header div:nth-child(1) h1 {
    font-size: 20px;
}

header div:nth-last-child(1) {
    float: right;
}


nav ul {
    list-style: none;
}

nav ul li {
    width: auto;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}